.app {
  background-color: #282c34;

}
.waiting {
  /* width: 90%; */
  height: 83vh;
  
}

.main {
  text-align: center;
  /* margin: 2%; */

}

.nav {
  display: flex;
  justify-content: space-around;
  /* margin: 2%; */
  color: #FFFFFF;
}

.header {
}

h1 {
  margin-bottom: 0;
}

.links {
  display: flex;
  margin: auto 0;
  width: 30%;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
