.app {
  background-color: #282c34;
  height: 100%;
}

.waiting {
  /* width: 90%; */
  height: 100%;
}

#attribute {
  margin: 0;
  color: #FFFFFF;
  font-size: .5rem;
}

.main, .about, .work, .contact {
  display: flex;
  justify-content: center;
  padding: 2%;
  height: 65vh;
}

#image {
  text-align: right;
  height: 100%;
}

.nav {
  letter-spacing: 5px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 1%;
}

h2 {
  border-top: 1px solid #67f05f;
  border-bottom: 1px solid #67f05f;
}

.links {
  display: flex;
  margin: auto 0;
  width: 30%;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
}

.links a {
  font-size: 1.3rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  /* margin: 2%; */
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-top: 1px solid #67f05f;
  border-bottom: 1px solid #67f05f;
  margin-bottom: 2%;
}

#summary {
  color: #FFFFFF;
  width: 80%;
  font-family: 'Lato';
  font-size: 1.25rem;
  text-align: justify;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
