.app {
  background-color: #282c34;
  height: 100%;
}

.waiting {
  width: 100%;
  height: 80%;
}

.attribute {
  margin: 0;
  color: #FFFFFF;
  font-size: .5rem;
}

.main, .about, .work, .contact {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  height: 62vh;
}

/* #imgDiv {
  margin: auto;
  height: 100%;
} */

#image {
  text-align: right;
  width: 80vh;
  margin: auto;
}

.nav {
  color: #FFFFFF;
  text-align: center;
  /* margin-bottom: 2%; */
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
}

#brian, #editor {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#brian {
  font-size: 10vh;
  font-weight: 500;
}

#editor {
  border-top: 1px solid #2eb7a1;
  border-bottom: 1px solid #2eb7a1;
  font-size: 7.5vh;
  letter-spacing: 15px;
}

.links {
  display: flex;
  margin: auto 0;
  width: 60%;
  /* height: 11.3vh; */
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  color: #9d9d9d;
  font-size: 2.5rem;
}

/* .footer a:hover {
  text-decoration: underline;
} */

.footer {
  display: flex;
  justify-content: space-around;
  /* margin: 2%; */
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-top: 1px solid #2eb7a1;
  border-bottom: 1px solid #2eb7a1;
  margin-top: 2%;
  margin-bottom: 2%;
}

.about, .contact {
  width: 70%;
  margin: auto;
  flex-direction: column;
}

.profilePic {
  margin: auto;
  text-align: right;
}

#pic {
  width: 90%;
  height: 96%;
  border-radius: 10px;
}

#summary {
  color: #FFFFFF;
  width: 65%;
  height: 100%;
  font-family: 'Lato';
  font-size: 1.5rem;
  text-align: justify;
  margin: auto;
  overflow-y: auto;
}

#posters {
  display: flex;
  width: 50%;
  justify-content: space-evenly;

}

.thumbnails {
  margin: auto 0;
  width: 30%;
}

.movieImg {
  width: 92%;
  /* height: 120%; */
}

/* .contact {
  padding-top: 1%;
} */

.contactImg {
  text-align: right;
  width: 26%;
  margin: auto;
}

#lamplighter {
  /* width: 40%; */
  width: 100%;
  /* height: 80%; */
}

#contactForm {
  width: 65%;
  font-family: 'Lato';
  font-size: 1.5rem;
  text-align: justify;
  margin: auto;
  height: 40%;
}

form {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: repeat(2, 49%);
  grid-gap: 2%;
  /* width: 80%; */
  height: 93%;
  /* margin: auto; */
}

#commentName {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-align: start;
  height: 60%;
  margin: auto 0;
  font-size: 1.3rem;
  font-family: 'Lato'

}

#commentEmail {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: start;
  height: 60%;
  margin: auto 0;
  font-size: 1.3rem;
  font-family: 'Lato'

}

#commentComment {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  text-align: start;    
  font-size: 1.3rem;
  font-family: 'Lato'

}

#commentSubmit {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  margin: 2% 35%;
  background-color: #33a937;
  color: #FFFFFF;
  border-radius: 10px;
  font-family: 'Lato';
  height: 90%;
}

#commentSubmit:hover {
  cursor: pointer;
}
